<footer class="site-footer">
  <div class="site-footer__container">
    <div class="site-footer__content">
      <div class="site-footer__section">
        <h4>BRASSM</h4>
        <p>Brazilian Scholars for Sport Management</p>
        <p class="site-footer__tagline">
          A community of Brazilian scholars and professionals in Sport Management in the United States.
        </p>
      </div>

      <div class="site-footer__section">
        <h5>Navigation</h5>
        <ul class="site-footer__list">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/conference">Conference</a></li>
          <li><a href="/membership">Membership</a></li>
        </ul>
      </div>

      <div class="site-footer__section">
        <h5>Resources</h5>
        <ul class="site-footer__list">
          <li><a href="/newsletters">Newsletters</a></li>
          <li><a href="/initiatives">Initiatives</a></li>
          <li><a href="/awards-and-grants">Awards &amp; Grants</a></li>
          <li><a href="/partners">Partners</a></li>
        </ul>
      </div>

      <div class="site-footer__section">
        <h5>Contact</h5>
        <p>
          <strong>Email:</strong>
          <a href="mailto:contact@brassm.org">contact@brassm.org</a>
        </p>
      </div>
    </div>

    <div class="site-footer__bottom">
      <p>&copy; <span data-current-year>2026</span> BRASSM. All rights reserved.</p>
    </div>
  </div>
</footer>
