<header class="site-header">
  <div class="site-header__inner">
    <div class="site-header__brand">
      <a href="/" class="site-header__logo">
        <img
          src="/assets/images/logo_transparente.png"
          alt="BRASSM - Brazilian Scholars for Sport Management"
          width="500"
          height="500"
          class="site-header__logo-image"
          fetchpriority="high"
          decoding="async"
        />
      </a>
    </div>

    <button
      type="button"
      class="site-header__mobile-menu-toggle"
      aria-label="Toggle menu"
      aria-expanded="false"
      aria-controls="site-nav"
      data-menu-toggle
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="site-header__nav" id="site-nav" aria-label="Main" data-nav>
      <ul class="site-header__nav-list">
        <li class="site-header__nav-item" data-nav-item data-label="Home">
          <div class="site-header__nav-item-row">
            <a href="/" class="site-header__nav-link">Home</a>
          </div>
        </li>
        <li
          class="site-header__nav-item site-header__nav-item--has-submenu"
          data-nav-item
          data-label="About"
        >
          <div class="site-header__nav-item-row">
            <a href="/about" class="site-header__nav-link">About</a>
            <button
              type="button"
              class="site-header__submenu-toggle"
              aria-expanded="false"
              aria-label="Show submenu for About"
              data-submenu-toggle
            >
              <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
              >
                <path
                  d="M2.5 4.5L6 8L9.5 4.5"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
          <ul class="site-header__submenu">
            <li>
              <a href="/history" class="site-header__submenu-link"
                >Our History</a
              >
            </li>
            <li>
              <a href="/board-members" class="site-header__submenu-link"
                >Board Members</a
              >
            </li>
            <li>
              <a href="/partners" class="site-header__submenu-link">Partners</a>
            </li>
            <li>
              <a href="/statute" class="site-header__submenu-link">Statute</a>
            </li>
          </ul>
        </li>
        <li
          class="site-header__nav-item site-header__nav-item--has-submenu"
          data-nav-item
          data-label="The Conference"
        >
          <div class="site-header__nav-item-row">
            <a href="/conference" class="site-header__nav-link"
              >The Conference</a
            >
            <button
              type="button"
              class="site-header__submenu-toggle"
              aria-expanded="false"
              aria-label="Show submenu for The Conference"
              data-submenu-toggle
            >
              <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
              >
                <path
                  d="M2.5 4.5L6 8L9.5 4.5"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
          <ul class="site-header__submenu">
            <li>
              <a href="/conference/2026" class="site-header__submenu-link"
                >2026 Conference</a
              >
            </li>
            <li>
              <a href="/conference/past" class="site-header__submenu-link"
                >Past Conferences</a
              >
            </li>
          </ul>
        </li>
        <li
          class="site-header__nav-item site-header__nav-item--has-submenu"
          data-nav-item
          data-label="Awards &amp; Grants"
        >
          <div class="site-header__nav-item-row">
            <a href="/awards-and-grants" class="site-header__nav-link"
              >Awards &amp; Grants</a
            >
            <button
              type="button"
              class="site-header__submenu-toggle"
              aria-expanded="false"
              aria-label="Show submenu for Awards &amp; Grants"
              data-submenu-toggle
            >
              <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
              >
                <path
                  d="M2.5 4.5L6 8L9.5 4.5"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
          <ul class="site-header__submenu">
            <li>
              <a
                href="/awards-and-grants/travel-grant"
                class="site-header__submenu-link"
                >Conference Travel Grant</a
              >
            </li>
            <li>
              <a
                href="/awards-and-grants/grad-school-grant"
                class="site-header__submenu-link"
                >Grad School Application Grant</a
              >
            </li>
          </ul>
        </li>
        <li
          class="site-header__nav-item"
          data-nav-item
          data-label="Newsletters"
        >
          <div class="site-header__nav-item-row">
            <a href="/newsletters" class="site-header__nav-link">Newsletters</a>
          </div>
        </li>
        <li
          class="site-header__nav-item"
          data-nav-item
          data-label="Initiatives"
        >
          <div class="site-header__nav-item-row">
            <a href="/initiatives" class="site-header__nav-link">Initiatives</a>
          </div>
        </li>
        <li class="site-header__nav-item" data-nav-item data-label="Membership">
          <div class="site-header__nav-item-row">
            <a href="/membership" class="site-header__nav-link">Membership</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
